/* ./src/index.css */
@tailwind base;
@tailwind components;

/* .header {
    height: auto;
}

.header nav {
    background: rgba(0, 0, 0, 0.3)
} */

/* .video-cta {
    height: auto;
} */



@tailwind utilities;